<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967620840459-khttg5phgjtuea26nq71k49moa542kr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967620840459-khttg5phgjtuea26nq71k49moa542kr4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967620840459-7hhel5muurs5hts1s9riifisi2iu4qkf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtMTVwK1Ft-raKdRKFqdNpAJL-ATp5a40</string>
	<key>GCM_SENDER_ID</key>
	<string>967620840459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eltekkeya.app</string>
	<key>PROJECT_ID</key>
	<string>eltekkeya</string>
	<key>STORAGE_BUCKET</key>
	<string>eltekkeya.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967620840459:ios:62d166363981c0b4808b0e</string>
</dict>
</plist>